<mat-drawer-container class="pokedex" autosize>
    <mat-drawer #filters opened class="pokedex__filters" mode="side">
      <div class="content">
        <p>gfhrrtjrtj</p>
        <p>gfhrrtjrtj</p>
        <p>gfhrrtjrtj</p>
        <p>gfhrrtjrtj</p>
        <p>gfhrrtjrtj</p>
      </div>
    </mat-drawer>
  
    <div class="pokedex__pokemon-list" *ngIf="resultsResponse().results as pokemons">
      <div class="pokedex__pokemon-wrap">
        <button mat-raised-button *ngFor="let pokemon of pokemons"
          (click)="onPokemonChoice(pokemon.url)" [ngClass]="{'favourite': favsService.isFav(pokemon.name)}">
            {{pokemon.name | titlecase}}
        </button>
      </div>
      <app-pagination (changePage)="setCurrentPage($event)" [pagesAmount]="pagesAmount()"></app-pagination>
    </div>

    <mat-drawer #pokemonCardDrawer class="pokedex__inspect" mode="side" position="end">
      <ng-container *ngIf="currentPokemon() as currentPokemon">
        <app-pokemon-card [pokemonModel]="currentPokemon"
          [isFavorite]="isFav(currentPokemon.name)"
          (favWasToggled)="handleFavToggle()"></app-pokemon-card>
      </ng-container>
    </mat-drawer>
</mat-drawer-container>