<mat-drawer-container class="pokedex" autosize>
  <mat-drawer #filters opened class="pokedex__filters" mode="side">
    <app-pokedex-filters [regionsArray]="regionsArray()"
      [typesArray]="typesArray()"
      [initialFilter]="filter"
    (newFilterApplied)="handleNewFilterApplication($event)"></app-pokedex-filters>
  </mat-drawer>

  @if (resultsResponse().results; as pokemons) {
    <div class="pokedex__pokemon-list">
      @if (!!pokemons.length) {
        <div class="pokedex__pokemon-wrap">
          @for (pokemon of pokemons; track pokemon.url) {
            <button mat-raised-button
              (click)="onPokemonChoice(pokemon.url)" [ngClass]="{'favourite': isFav(pokemon.name)}">
              {{pokemon.name | titlecase}}
            </button>
          }
        </div>
      } @else {
        <div class="pokedex__noRes">
          No results
        </div>
      }
      <app-pagination (changePage)="setCurrentPage($event)" [pagesAmount]="pagesAmount()"></app-pagination>
    </div>
  }

  <mat-drawer #pokemonCardDrawer class="pokedex__inspect" mode="side" position="end">
    @if (currentPokemon(); as currentPokemon) {
      <app-pokemon-card [pokemonModel]="currentPokemon"
        [isFavorite]="isFav(currentPokemon.name)"
      (favWasToggled)="handleFavToggle()"></app-pokemon-card>
    }
  </mat-drawer>
</mat-drawer-container>


<ng-template #noRes>
  <div class="pokedex__noRes">
    No results
  </div>
</ng-template>