<div class="filters">
  <mat-checkbox class="filters__checkbox"
    [checked]="isFilterActive('all')"
    [disabled]="isFilterActive('all')"
  (click)="handleNewFilterValue('all')">All Pokemons</mat-checkbox>
  @if (regionsArray) {
    <mat-accordion class="filters__accordion">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="filters__title">Regions</mat-panel-title>
        </mat-expansion-panel-header>
        @for (region of regionsArray; track getTrackForButtons(index, region); let index = $index) {
          <mat-checkbox
            [checked]="isFilterActive(region.name)"
            [disabled]="isFilterActive(region.name)"
            (click)="handleNewFilterValue('region', region)" >
            {{region.name | titlecase}}
          </mat-checkbox>
        }
      </mat-expansion-panel>
    </mat-accordion>
  }
  @if (typesArray) {
    <mat-accordion class="single__evolutions">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Types</mat-panel-title>
        </mat-expansion-panel-header>
        @for (type of typesArray; track getTrackForButtons(index, type); let index = $index) {
          <mat-checkbox
            [checked]="type.name === activeFilter"
            [disabled]="isFilterActive(type.name)"
            (click)="handleNewFilterValue('type', type)" >
            {{type.name | titlecase}}
          </mat-checkbox>
        }
      </mat-expansion-panel>
    </mat-accordion>
  }
  <mat-checkbox class="filters__checkbox"
    [checked]="activeFilter === 'favourites'"
    [disabled]="isFilterActive('favourites')"
  (click)="handleNewFilterValue('favourites')">Favourites</mat-checkbox>
</div>