<div class="pagination">

    <button [disabled]="currentPage <= (1 + halfAmount)" mat-stroked-button (click)="changePages(1)"
        class="pagination__button">1</button>
    <p mat-stroked-button class="pagination__filler">...</p>

    <ng-container *ngFor="let page of pages">
      <button mat-stroked-button [ngClass]="{
                            active: page === currentPage
                        }"
            (click)="changePages(page)" class="pagination__button"
            [ngClass]="{'active': currentPage === page}">{{page}}</button>
    </ng-container>

    <p mat-stroked-button class="pagination__filler">...</p>
    <button [disabled]="currentPage >= (pagesAmount - halfAmount)" mat-stroked-button (click)="changePages(pagesAmount)"
        class="pagination__button">{{pagesAmount}}</button>

</div>
