@if (pagesAmount > 1) {
  <div class="pagination">
    <button [disabled]="currentPage <= (1 + halfAmount)" mat-stroked-button (click)="changePages(1)"
    class="pagination__button">1</button>
    <button mat-stroked-button class="pagination__filler">...</button>
    @for (page of pages; track page) {
      <button mat-stroked-button
              [ngClass]="{
                active: page === currentPage
              }"
              (click)="changePages(page)" class="pagination__button">{{page}}</button>
    }
    <button mat-stroked-button class="pagination__filler">...</button>
    <button [disabled]="currentPage >= (pagesAmount - halfAmount)" mat-stroked-button (click)="changePages(pagesAmount)"
    class="pagination__button">{{pagesAmount}}</button>
  </div>
}
