@import url(./reset.scss);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.container{
    max-width: 1240px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
}

.favourite{
    background-color: rgb(252, 154, 147) !important;
}

.viewWrapper{
    position: relative;
} 